* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f2f5;
}

/* Navbar */
.navbar {
  background: #1877f2;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

.profile {
  font-weight: bold;
}

/* Layout */
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* Sidebar kiri */
.sidebar {
  width: 200px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Feed */
.feed {

}

.post-box {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.navbar button{
  color: blue;
  border-radius: 5px;
  background: white;

}

.post-box input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.post-box button {
  padding: 8px 15px;
  border: none;
  background: white;
  color: blue;
  border-radius: 5px;
  cursor: pointer;
}

.post {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Sidebar kanan */
.rightbar {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}
