body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: putar 1s linear infinite;
}

@keyframes putar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}
