* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(#0000ff,#fff000);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout utama */
.container {
    display: flex;
    gap: 30px;
}

/* Card form */
.card {
    background: linear-gradient(#0000ff,#fff000);
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Group input */
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

/* Input styling */
input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79,70,229,0.2);
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background: #4f46e5;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #4338ca;
}

/* Text bawah */
.info-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.info-text a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: bold;
}
